<div class="modal" id="share-modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/cancel.svg" alt="Закрыть">
        </button>

        <ul class="social">
            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/share/facebook.svg"
                         alt="Instagram">
                </a>
            </li>

            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/share/twitter.svg"
                         alt="VK">
                </a>
            </li>

            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/share/vk.svg"
                         alt="Pinterest">
                </a>
            </li>

            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/share/copy.svg"
                         alt="Pinterest">
                </a>
            </li>
        </ul>
    </div> <!-- /.modal__content -->
</div> <!-- /.modal -->